<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FTrab4 - SEL0456</title>
</head>
<body>
    <div class="container">
      <div class="page-header">
          <h1>{{ titulo }}</h1>
      </div>
      <form action="/resultado" method="post">
        <fieldset>
          <div class="form-group">
            <label for='numero'>Número</label>
            <input type="text" name='numero'>
          </div>
          <button type="submit" class="btn btn-primary btn-calcular">Calcular</button>
        </fieldset>
      </form>
    </div>
</body>
</html>